body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/fundo 4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: orange;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #555;
    border-radius: 5px;
}

.valor {
    color: green;
}

.produto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center; 
}

.product {
    text-align: center;
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
}



.botao-de-compra {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.botao-de-compra:hover {
    background-color: #0056b3;
}
.cadeira {
    color: orange;
    text-decoration: none;
    padding: 10px;
}

.pc {
    color: orange;
    text-decoration: none;
    padding: 10px;
}

.mouse {
    color: orange;
    text-decoration: none;
    padding: 10px;
}

.teclado {
    color: orange;
    text-decoration: none;
    padding: 10px;
}

.mousepad {
    color: orange;
    text-decoration: none;
    padding: 10px;
}